@font-face {
    font-family: "LoveYaLikeASister";
    font-weight: 400;
    src: url("../fonts/LoveYaLikeASister-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Lutsk-type";
    font-weight: 400;
    src: url("../fonts/Lutsk-type-14-12-17.ttf") format("truetype");
    font-display: swap;
}

html {
    height: 100%;
 }

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 100%;
    font-family: "LoveYaLikeASister-Regular";
    font-size: 18px;
    line-height: 21px;
    color: #829577;
    background-color: #f2f2f2;
}

.page-header {
    display: flex;
    justify-content: center;
}

.navigation-header {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    width: 1200px;
}


.logo {
    display: flex;
    text-align: center;
    justify-content: center;
}

.hanging-1 {
    margin-left: -20%;
}

.hanging-2 {
    margin:-20px 5% 0 5%;
}

.hanging-3 {
    margin-right: 50px;
}

.hanging-4 {
    margin: -485px 0px 0 930px;
}

.mini-tittle {
    font-family: "LoveYaLikeASister";
    font-size: 60px;
    line-height: 80px; 
    text-align: center;
    margin-top: -300px;
    margin-left: 5%;
}

.mark {
    background-image: url(../images/Blob.svg);
    background-repeat: no-repeat;
    background-size: 90px;
    background-position-y: 6px;
}

h1 {
    font-family: "LoveYaLikeASister";
    font-size: 140px;
    line-height: 80px; 
    text-align: center; 
    text-transform: uppercase;
    margin-top: -25px;
    margin-right: -15%;
    margin-left: -10%;
}

.navigation-list {
    list-style-type: none;
    display: flex;
    height: 50px;
    text-align: center;
    align-content: center;
    justify-content: center;
    border-radius: 50px;
    width: 500px;
    background-color: white;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.navigation-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin-left: 10%;
}

.navigation-link-current {
    margin-right: 100px;
}

.page-footer {
    background-image: url(../images/soil\ bg.jpg);
    background-repeat: no-repeat;
    background-position-y: bottom;
}

.navigation-link {
    text-decoration: none;
    color: #50614A;
}

.plant-down-1 {
    margin-bottom: -60px;
}

.plant-down-2 {
    margin-left: 550px;
    margin-bottom: -60px;
}

.navigation-link:hover {
    border-bottom: 3px solid #829577;
}

/* howitworks */

.jungle {
    font-family: "LoveYaLikeASister";
    font-size: 60px;
    line-height: 80px; 
    text-align: center;
    margin: 10px 0 0px 0;
}

.mark-2 {
    background-image: url(../images/Blob.svg);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-x: center;
}

.mini-jungle {
    margin: 0 50px 50px 100px;
}

/* catalog */

.main-catalog {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-left: 20px;
}


.filter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


.plants-sort-tittle {
    margin-right: auto;
    margin-left: 20px;
}

.select-control {
    margin-right: 130px;
    margin-left: 125px;
}



.product-catalog {
    display: flex;
    margin-top: 45px;
}

.product-card {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 20px;
    background-color: #829577;
    border-radius: 20px;
    width: 228px;
}


.product-card-link {
    font-family: "LoveYaLikeASister-Regular";
    font-size: 18px;
    line-height: 21px;
    color: #f2f2f2;
    text-decoration: none;
}

.product-card-title {
    display: flex;
    margin-left: -7px;
}

.product-price-name {
    font-family: "LoveYaLikeASister-Regular";
    font-size: 18px;
    line-height: 21px;
    color: #f2f2f2;
    display: flex;
    margin-left: -261px;
    margin-top: 270px;
}

.general-results {
    font-family: "LoveYaLikeASister-Regular";
    font-size: 18px;
    line-height: 21px;
    color: #f2f2f2;
    display: flex;
}

.product-card-button.favorites {
    font-family: "LoveYaLikeASister-Regular";
    font-size: 18px;
    line-height: 21px;
    color: #f2f2f2;
    text-decoration: none;
    margin-top: 18px;
    margin-left: 80px;
}

.rating {
    display: flex;
    margin-top: 325px;
    margin-left: -240px;
    padding-bottom: 5px;
    text-decoration: underline;
}


.plant-picture {
    margin-left: 16px;
}

.product-card-2 {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 20px;
    background-color: #829577;
    border-radius: 20px;
    width: 228px;
}

.page-footer-catalog {
    background-image: url(../images/soil\ bg.jpg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding-top: 300px;
}

